/* Miscellaneous */
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,300;0,600;0,700;1,300&display=swap");

body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

section {
  width: 83vw;
  max-width: 68rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

section:first-child {
  margin-top: 6rem;
}

section div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

div {
  margin: 0;
  padding: 0;
}

.small-div {
  width: 20rem;
  box-sizing: border-box;
}

.large-div {
  max-width: 44rem;
  box-sizing: border-box;
  gap: 2rem;
}

.large-div img {
  width: 100%;
  min-width: 20rem;
  max-width: 44rem;
}

h1 {
  font-size: 2rem;
  text-align: left;
  line-height: 1;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  max-width: 60ch;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 12rem;
  text-align: right;
  line-height: 1;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 700;
  max-width: 60ch;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 3rem;
  text-align: left;
  line-height: 1;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 700;
  max-width: 60ch;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  max-width: 60ch;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.125rem;
  text-align: left;
  line-height: 1;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  max-width: 60ch;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.125rem;
  text-align: left;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 300;
  max-width: 20rem;
  margin: 0;
  padding: 0;
}

p small {
  font-size: 1rem;
  line-height: 1;
  text-align: left;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 300;
  max-width: 20rem;
  margin: 0;
  padding: 0;
}

.button,
.button a {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  align-content: center;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  width: 7rem;
  margin: 0;
  padding: 0 2rem;
  border: 0.0625rem solid #000000;
  border-radius: 0.25rem;
  transition-duration: 0.25s;
}

.button:active,
.button:hover {
  background-color: #ffffff;
  color: #000000;
  text-decoration: underline;
  box-shadow: inset 0 0 0.625rem rgba(97, 130, 205, 0.5);
  cursor: pointer;
}

abbr {
  text-decoration: none;
  border-bottom: none;
}

img {
  border-radius: 0.25rem;
}

@media screen and (min-width: 1280px) {
  section {
    gap: 4em;
  }

  h2 {
    font-size: 12rem;
  }

  header .navbar nav .menu {
    display: none;
  }
}

@media screen and (max-width: 1279px) and (min-width: 744px) {
  section {
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 8rem;
  }

  header .navbar nav .menu {
    display: none;
  }
}

@media screen and (max-width: 743px) {
  section {
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 4rem;
  }

  footer div {
    width: 83vw;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .social-media-icons {
    align-items: center;
    justify-content: center;
  }

  header .navbar nav .menu {
    display: block;
  }

  #navlinks {
    display: none;
  }

  #navlinks.active {
    background-color: #ffffff;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    gap: 1rem;
    padding: 2rem;
    top: 4rem;
    right: 0;
  }

  #navlinks.active a {
    text-align: center;
  }
}

/* Header & Nav Bar */
header {
  background-color: #ffffff;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 2rem;
}

header .navbar {
  width: 100%;
  max-width: 64rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header .navbar nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header .navbar nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

header .navbar nav .nav-links a,
header .navbar nav .nav-links a:visited {
  color: #000000;
  text-decoration: none;
}

header .navbar nav .nav-links a:active,
header .navbar nav .nav-links a:hover {
  color: #6182cd;
  text-decoration: underline;
  cursor: pointer;
}

header .navbar nav .menu {
  fill: #000000;
}

.dropbtn {
  display: inline-block;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content a:hover {
  color: #6182cd;
  text-decoration: underline;
  cursor: pointer;
}

.dropdown:hover {
  color: #6182cd;
  text-decoration: underline;
  cursor: pointer;
}

.dropdown:hover .dropdown-content,
#portfolioDropdown.active {
  background-color: #ffffff;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin-top: 1rem;
  gap: 1rem;
  padding: 2rem;
}

/* Footer */
footer {
  background-color: #000000;
  color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 2rem;
  margin-top: 4rem;
  padding: 4rem 0;
}

hr {
  width: 83vw;
  max-width: 44rem;
  border-top: 1px solid #ffffff;
}

footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 0rem;
  padding: 0rem;
}

footer div div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0rem;
  padding: 0rem;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.social-media-icons svg,
.social-media-icons svg a {
  fill: #ffffff;
  transition-duration: 0.25s;
}

.social-media-icons svg:hover,
.social-media-icons svg a:hover {
  fill: #6182cd;
  cursor: pointer;
}

/* Homepage */

.carousel {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.carousel-card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0.25rem;
  background-color: #ffffff;
  color: #000000;
  border: 0.0625rem solid #000000;
}

.carousel-card img {
  width: 16rem;
  border: 0.0625rem solid #000000;
}

.carousel-info {
  width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* About Page */

/* Adventura Page */

/* Contact Page */
form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

form div label {
  font-size: 1.125rem;
  line-height: 1;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

form div textarea {
  box-sizing: border-box;
  min-width: 20rem;
  max-width: 20rem;
  min-height: 8rem;
  outline: none;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #000000;
}

form div input {
  outline: none;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #000000;
}

/* Fine Art Page*/

/* Lumiere Du Soleil Page */

/* Miscellaneous Works Page */

/* Pink Page */

/* Raxx 4 Wigs Page */

